/* line 1, ../sass/base/_base.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans" , sans-serif;
}

/* line 2, ../sass/module/_header.scss */
.home__header-contact {
  margin: 0;
  padding: 0;
}
/* line 7, ../sass/module/_header.scss */
.home__header-contact .header-contact-container {
  margin: 0;
  display: flex;
  background-color: #135e96;
  justify-content: center;
}
/* line 14, ../sass/module/_header.scss */
.home__header-contact .header-contact-item {
  padding: 15px 20px;
  display: flex;
  align-items: center;
}
/* line 19, ../sass/module/_header.scss */
.home__header-contact .header-contact-item:nth-child(2) {
  background-color: #f39c12;
  display: flex;
  justify-content: center;
}
/* line 24, ../sass/module/_header.scss */
.home__header-contact .header-contact-text {
  padding-left: 10px;
  color: #fff;
  font-weight: 500;
}
/* line 29, ../sass/module/_header.scss */
.home__header-contact .header-contact-link {
  text-decoration: none;
  display: flex;
}
/* line 33, ../sass/module/_header.scss */
.home__header-contact .header-contact-icon {
  display: inline-flex;
}
/* line 41, ../sass/module/_header.scss */
.home__header .header-navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
}
/* line 46, ../sass/module/_header.scss */
.home__header .header-logo {
  display: flex;
  align-items: center;
  justify-content: start;
}
/* line 51, ../sass/module/_header.scss */
.home__header .header-menu {
  display: flex;
  align-items: center;
}
/* line 55, ../sass/module/_header.scss */
.home__header .header-item {
  position: relative;
  text-transform: uppercase;
  margin: 0 30px;
  list-style-type: none;
}
/* line 61, ../sass/module/_header.scss */
.home__header .isactive::after {
  content: "";
  transition: width 0.25s ease;
  position: absolute;
  bottom: -55px;
  left: 0px;
  z-index: 10;
  height: 5px;
  width: 100%;
  background-color: #f39c12;
}
/* line 72, ../sass/module/_header.scss */
.home__header .header-link {
  text-decoration: none;
  color: #135e96;
}
/* line 77, ../sass/module/_header.scss */
.home__header .social-network {
  display: flex;
  align-items: center;
}
/* line 82, ../sass/module/_header.scss */
.home__header .fa {
  padding: 10px;
  font-size: 25px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 12px;
  border-radius: 50%;
}
/* line 92, ../sass/module/_header.scss */
.home__header .fa:hover {
  opacity: 0.7;
}
/* line 96, ../sass/module/_header.scss */
.home__header .fa-facebook {
  background: #3B5998;
  color: white;
}
/* line 101, ../sass/module/_header.scss */
.home__header .fa-twitter {
  background: #55ACEE;
  color: white;
}
/* line 106, ../sass/module/_header.scss */
.home__header .fa-linkedin {
  background: #007bb5;
  color: white;
}
/* line 114, ../sass/module/_header.scss */
.home__container {
  width: 80%;
  margin: auto;
}
/* line 119, ../sass/module/_header.scss */
.home__section-banner {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(36, 83, 176, 0.5), rgba(38, 124, 161, 0.6)), url(../../img/Groupe\ 42/background_section1.png) center top no-repeat;
  background-size: cover;
  min-height: 900px;
  height: 100vh;
}
/* line 127, ../sass/module/_header.scss */
.home__section-banner .section-banner-container {
  padding: 160px 0;
}
/* line 131, ../sass/module/_header.scss */
.home__section-banner .section-banner-title {
  font-weight: 800;
  font-size: 70px;
  color: #fff;
  text-transform: uppercase;
}
/* line 137, ../sass/module/_header.scss */
.home__section-banner .section-banner-content {
  color: #fff;
  text-transform: capitalize;
  font-size: 25px;
}
/* line 142, ../sass/module/_header.scss */
.home__section-banner .section-button-element {
  padding: 15px 40px;
  font-size: 15px;
  color: #FFF;
  text-transform: uppercase;
  line-height: 30px;
  display: inline-block;
  color: #000;
  margin-right: 50px;
  margin-top: 30px;
}
/* line 154, ../sass/module/_header.scss */
.home__section-banner .section-banner-card {
  display: flex;
  justify-content: space-between;
  min-height: 470px;
}
/* line 161, ../sass/module/_header.scss */
.home__section-banner .banner-card-item {
  width: 400px;
  background: #fff;
  padding: 77px 52px;
  box-sizing: border-box;
  position: relative;
}
/* line 169, ../sass/module/_header.scss */
.home__section-banner .banner-card-item:hover {
  transform: translateY(50px);
  transition: width 2s ease;
  background: #f39c12;
  opacity: 0.7;
}
/* line 175, ../sass/module/_header.scss */
.home__section-banner .banner-card-item:hover .card-item-title {
  color: #fff;
}
/* line 178, ../sass/module/_header.scss */
.home__section-banner .banner-card-item:hover .card-item-content {
  color: #fff;
}
/* line 183, ../sass/module/_header.scss */
.home__section-banner .card-item-logo {
  margin-bottom: 42px;
}
/* line 186, ../sass/module/_header.scss */
.home__section-banner .card-item-title {
  text-transform: uppercase;
  color: #135e96;
}
/* line 190, ../sass/module/_header.scss */
.home__section-banner .card-item-footer {
  display: flex;
  align-items: center;
  color: yellow;
  margin-top: 77px;
  font-weight: bold;
  position: absolute;
  bottom: 25px;
}
/* line 199, ../sass/module/_header.scss */
.home__section-banner .card-item-arrow {
  width: 16px;
  margin-left: 20px;
}
/* line 210, ../sass/module/_header.scss */
.home__section-information {
  background: linear-gradient(to bottom, rgba(13, 46, 112, 0.8), rgba(8, 75, 103, 0.8)), url(../../img/Groupe\ 42/banner2.png) center top no-repeat;
  margin: 0;
  padding: 0;
  background-size: cover;
  min-height: 900px;
}
/* line 220, ../sass/module/_header.scss */
.home__section-information .section-banner-information {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 300px;
  color: white;
}
/* line 228, ../sass/module/_header.scss */
.home__section-information .section-button-element {
  padding: 15px 40px;
  font-size: 15px;
  color: #FFF;
  text-transform: uppercase;
  line-height: 30px;
  display: inline-block;
  color: #000;
  margin-right: 50px;
  margin-top: 30px;
}
/* line 239, ../sass/module/_header.scss */
.home__section-information .banner-information-title {
  font-size: 50px;
  text-transform: capitalize;
}
/* line 243, ../sass/module/_header.scss */
.home__section-information .section-information-content {
  margin: 80px 0;
}
/* line 247, ../sass/module/_header.scss */
.home__section-information .banner-information-subtitle {
  padding: 0 30px;
  font-size: 16px;
}
/* line 251, ../sass/module/_header.scss */
.home__section-information .banner-information-content {
  padding: 0 30px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-indent: 50px;
}
/* line 259, ../sass/module/_header.scss */
.home__section-information .banner-information-menu {
  display: flex;
  margin: 30px 10px;
  list-style-type: none;
  justify-content: space-between;
}
/* line 267, ../sass/module/_header.scss */
.home__section-information .banner-information-item {
  display: flex;
}
/* line 271, ../sass/module/_header.scss */
.home__section-information .banner-information-link {
  display: flex;
  text-decoration: none;
  color: white;
  font-weight: 700;
}
/* line 277, ../sass/module/_header.scss */
.home__section-information .banner-information-icon {
  display: inline-flex;
  margin-right: 8px;
}
