/* line 1, ../sass/base/_base.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans" , sans-serif;
  overflow-x: hidden;
}

/* line 7, ../sass/base/_base.scss */
figure {
  margin: 0;
}

/* line 11, ../sass/base/_base.scss */
a[class*="button"]:hover {
  background-color: rgba(128, 128, 128, 0.516) !important;
}

/* line 6, ../sass/module/_header.scss */
.home__header-contact .header-contact-container {
  margin: 0;
  display: flex;
  background-color: #135e96;
  justify-content: center;
}
/* line 13, ../sass/module/_header.scss */
.home__header-contact .header-contact-item {
  padding: 15px 20px;
  display: flex;
  align-items: center;
}
/* line 18, ../sass/module/_header.scss */
.home__header-contact .header-contact-item:nth-child(2) {
  background-color: #f39c12;
  display: flex;
  justify-content: center;
}
/* line 23, ../sass/module/_header.scss */
.home__header-contact .header-contact-text {
  padding-left: 10px;
  color: #fff;
  font-weight: 500;
}
/* line 28, ../sass/module/_header.scss */
.home__header-contact .header-contact-link {
  text-decoration: none;
  display: flex;
}
/* line 32, ../sass/module/_header.scss */
.home__header-contact .header-contact-icon {
  display: inline-flex;
}
@media only screen and (max-width: 900px) {
  /* line 37, ../sass/module/_header.scss */
  .home__header-contact .header-contact-text {
    display: none;
  }
}
/* line 46, ../sass/module/_header.scss */
.home__header .header-navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
}
/* line 53, ../sass/module/_header.scss */
.home__header .header-logo {
  display: flex;
  align-items: center;
  justify-content: start;
}
/* line 58, ../sass/module/_header.scss */
.home__header .header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vmax;
}
/* line 64, ../sass/module/_header.scss */
.home__header .toggle {
  font-size: 40px;
  display: none;
}
@media only screen and (max-width: 1181px) {
  /* line 71, ../sass/module/_header.scss */
  .home__header .header-menu.active {
    margin-top: 0;
  }
  /* line 74, ../sass/module/_header.scss */
  .home__header .header-menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3B5998;
    flex-direction: column;
    width: 100%;
    height: 42vh;
    margin: 0;
    margin-top: -900px;
    transition: margin 0.5s ease-in-out;
    -moz-transition: margin 0.5s ease-in-out;
    z-index: 3;
  }
  /* line 88, ../sass/module/_header.scss */
  .home__header .isactive::after {
    display: none;
  }
  /* line 91, ../sass/module/_header.scss */
  .home__header .toggle {
    display: block;
    z-index: 100;
  }
  /* line 95, ../sass/module/_header.scss */
  .home__header .header-item a {
    color: white;
  }
}
/* line 101, ../sass/module/_header.scss */
.home__header .header-item {
  position: relative;
  text-transform: uppercase;
  list-style-type: none;
  padding: 10px;
}
@media only screen and (max-width: 1591px) {
  /* line 110, ../sass/module/_header.scss */
  .home__header .header-item .header-link {
    font-size: 14px;
  }
}
/* line 114, ../sass/module/_header.scss */
.home__header .header-item:hover {
  transition: background 0.3s ease;
  border-radius: 5px 0 5px 0;
  background: rgba(255, 170, 0, 0.413);
}
/* line 119, ../sass/module/_header.scss */
.home__header .isactive::after {
  content: "";
  transition: width 0.25s ease;
  position: absolute;
  bottom: -42px;
  left: 0px;
  z-index: 10;
  height: 5px;
  width: 100%;
  background-color: #f39c12;
}
/* line 130, ../sass/module/_header.scss */
.home__header .header-link {
  text-decoration: none;
  color: #135e96;
}
/* line 135, ../sass/module/_header.scss */
.home__header .social-network {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1470px) {
  /* line 140, ../sass/module/_header.scss */
  .home__header .social-network {
    display: none;
  }
}
/* line 145, ../sass/module/_header.scss */
.home__header .fa {
  padding: 10px;
  font-size: 25px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 12px;
  border-radius: 50%;
}
/* line 155, ../sass/module/_header.scss */
.home__header .fa:hover {
  opacity: 0.7;
}
/* line 159, ../sass/module/_header.scss */
.home__header .fa-facebook {
  background: #3B5998;
  color: white;
}
/* line 164, ../sass/module/_header.scss */
.home__header .fa-twitter {
  background: #55ACEE;
  color: white;
}
/* line 169, ../sass/module/_header.scss */
.home__header .fa-linkedin {
  background: #007bb5;
  color: white;
}
/* line 177, ../sass/module/_header.scss */
.home__container {
  width: 80%;
  margin: auto;
}
/* line 183, ../sass/module/_header.scss */
.home__section-banner {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(36, 83, 176, 0.5), rgba(38, 124, 161, 0.6)), url(../../img/Groupe\ 42/background_section1.png) center top no-repeat;
  background-size: cover;
  min-height: 900px;
}
/* line 193, ../sass/module/_header.scss */
.home__section-banner .section-banner-container {
  padding: 160px 0;
}
/* line 198, ../sass/module/_header.scss */
.home__section-banner .section-banner-title {
  font-weight: 800;
  font-size: 70px;
  color: #fff;
  text-transform: uppercase;
}
/* line 204, ../sass/module/_header.scss */
.home__section-banner .section-banner-content {
  color: #fff;
  text-transform: capitalize;
  font-size: 25px;
}
/* line 209, ../sass/module/_header.scss */
.home__section-banner .section-button-element {
  padding: 15px 40px;
  font-size: 15px;
  color: #FFF;
  text-transform: uppercase;
  line-height: 30px;
  display: inline-block;
  color: #000;
  margin-right: 50px;
  margin-top: 30px;
}
/* line 221, ../sass/module/_header.scss */
.home__section-banner .section-banner-card {
  display: flex;
  justify-content: space-between;
  min-height: 470px;
  gap: 50px;
  flex-wrap: wrap;
}
/* line 230, ../sass/module/_header.scss */
.home__section-banner .banner-card-item {
  width: 400px;
  background: #fff;
  padding: 77px 52px;
  box-sizing: border-box;
  position: relative;
  transition: transform 0.5s ease;
}
/* line 239, ../sass/module/_header.scss */
.home__section-banner .banner-card-item:hover {
  transform: translateY(-50px);
  transition: transform 0.5s ease;
  background: #f39c12;
  opacity: 0.7;
}
/* line 245, ../sass/module/_header.scss */
.home__section-banner .banner-card-item:hover .card-item-title {
  color: #fff;
}
/* line 248, ../sass/module/_header.scss */
.home__section-banner .banner-card-item:hover .card-item-content {
  color: #fff;
}
/* line 253, ../sass/module/_header.scss */
.home__section-banner .card-item-logo {
  margin-bottom: 42px;
}
/* line 256, ../sass/module/_header.scss */
.home__section-banner .card-item-title {
  text-transform: uppercase;
  color: #135e96;
}
/* line 260, ../sass/module/_header.scss */
.home__section-banner .card-item-footer {
  display: flex;
  align-items: center;
  color: yellow;
  margin-top: 77px;
  font-weight: bold;
  position: absolute;
  bottom: 25px;
}
/* line 269, ../sass/module/_header.scss */
.home__section-banner .card-item-arrow {
  width: 16px;
  margin-left: 20px;
}
/* line 280, ../sass/module/_header.scss */
.home__section-information {
  background: linear-gradient(to bottom, rgba(13, 46, 112, 0.8), rgba(8, 75, 103, 0.8)), url(../../img/Groupe\ 42/banner2.png) center top no-repeat;
  background-size: cover;
  min-height: 900px;
  padding: 112px 0;
}
/* line 289, ../sass/module/_header.scss */
.home__section-information .section-banner-information {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 300px;
  color: white;
}
/* line 297, ../sass/module/_header.scss */
.home__section-information .section-button-element {
  padding: 15px 40px;
  font-size: 15px;
  color: #FFF;
  text-transform: uppercase;
  line-height: 30px;
  display: inline-block;
  color: #000;
  margin-right: 50px;
  margin-top: 30px;
}
/* line 308, ../sass/module/_header.scss */
.home__section-information .banner-information-title {
  font-size: 50px;
  text-transform: capitalize;
}
/* line 312, ../sass/module/_header.scss */
.home__section-information .section-information-content {
  margin: 80px 0;
}
/* line 316, ../sass/module/_header.scss */
.home__section-information .banner-information-subtitle {
  padding: 0 30px;
  font-size: 16px;
}
/* line 320, ../sass/module/_header.scss */
.home__section-information .banner-information-content {
  padding: 0 30px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-indent: 50px;
}
/* line 328, ../sass/module/_header.scss */
.home__section-information .banner-information-menu {
  display: flex;
  margin: 30px 10px;
  list-style-type: none;
  justify-content: space-between;
}
/* line 336, ../sass/module/_header.scss */
.home__section-information .banner-information-item {
  display: flex;
}
/* line 340, ../sass/module/_header.scss */
.home__section-information .banner-information-link {
  display: flex;
  text-decoration: none;
  color: white;
  font-weight: 700;
}
/* line 346, ../sass/module/_header.scss */
.home__section-information .banner-information-icon {
  display: inline-flex;
  margin-right: 8px;
}

@media only screen and (max-width: 1600px) {
  /* line 357, ../sass/module/_header.scss */
  .home__section-banner {
    width: 100%;
    height: auto;
    padding: 30px 0;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  /* line 365, ../sass/module/_header.scss */
  .home__section-banner .section-banner-card {
    justify-content: center !important;
  }

  /* line 368, ../sass/module/_header.scss */
  .home__section-banner .section-banner-container {
    align-items: center !important;
    display: flex;
    flex-direction: column;
  }

  /* line 373, ../sass/module/_header.scss */
  .home__section-banner .section-banner-title {
    font-size: 40px;
  }
}
/* line 4, ../sass/module/_section.scss */
.home__service {
  margin-top: 50px;
}
/* line 6, ../sass/module/_section.scss */
.home__service .service-title {
  text-align: center;
  line-height: 1;
}
/* line 11, ../sass/module/_section.scss */
.home__service .service-start-point {
  width: 20px;
  height: 20px;
  background-color: #f39c12;
  margin: auto;
}
/* line 17, ../sass/module/_section.scss */
.home__service .service-title-subtitle {
  color: grey;
  text-transform: uppercase;
  margin-top: 50px;
}
/* line 23, ../sass/module/_section.scss */
.home__service .service-title-content {
  font-size: 70px;
  color: #135e96;
  margin-top: -5px;
}
/* line 30, ../sass/module/_section.scss */
.home__service-gallery {
  width: 100%;
}
/* line 32, ../sass/module/_section.scss */
.home__service-gallery .service-gallery-container {
  display: flex;
  flex-direction: column;
  gap: 200px;
  width: 92%;
  padding: 150px 0;
  margin: auto;
}
/* line 40, ../sass/module/_section.scss */
.home__service-gallery .service-start-item {
  position: relative;
  display: flex;
  justify-content: start;
}
/* line 46, ../sass/module/_section.scss */
.home__service-gallery .service-start-item:nth-child(2) .service-gallery-icon {
  display: flex;
  justify-content: end;
}
/* line 51, ../sass/module/_section.scss */
.home__service-gallery .service-end-item {
  position: relative;
  display: flex;
  justify-content: end;
}
/* line 58, ../sass/module/_section.scss */
.home__service-gallery .service-gallery-image {
  width: 69%;
  margin: 0;
}
/* line 63, ../sass/module/_section.scss */
.home__service-gallery .service-gallery-item .service-gallery-image img {
  width: 100%;
}
/* line 66, ../sass/module/_section.scss */
.home__service-gallery .service-end-item .service-gallery-couverture {
  width: 40%;
  position: absolute;
  top: 25%;
  left: 0;
}
/* line 74, ../sass/module/_section.scss */
.home__service-gallery .service-start-item .service-gallery-couverture {
  width: 40%;
  position: absolute;
  top: 25%;
  right: 0;
}
/* line 81, ../sass/module/_section.scss */
.home__service-gallery .service-gallery-icon img {
  width: 125px;
  margin-bottom: 40px;
}
/* line 85, ../sass/module/_section.scss */
.home__service-gallery .service-gallery-content {
  background: #f39c12;
  padding: 27px 86px;
  background-color: #f39c12;
  opacity: 0.9;
  color: aliceblue;
  line-height: 1;
}
/* line 95, ../sass/module/_section.scss */
.home__actualite {
  padding-top: 150px;
  padding-bottom: 150px;
  background: linear-gradient(to bottom, rgba(9, 24, 56, 0.916), rgba(11, 54, 73, 0.922)), url(../../img/Groupe\ 42/background_section1.png) center top no-repeat;
  background-size: cover;
  min-height: 900px;
}
/* line 102, ../sass/module/_section.scss */
.home__actualite .actualite-title {
  text-align: center;
  line-height: 1;
}
/* line 107, ../sass/module/_section.scss */
.home__actualite .actualite-start-point {
  width: 20px;
  height: 20px;
  background-color: #f39c12;
  margin: auto;
}
/* line 114, ../sass/module/_section.scss */
.home__actualite .actualite-title-subtitle {
  color: grey;
  text-transform: uppercase;
  margin-top: 50px;
}
/* line 120, ../sass/module/_section.scss */
.home__actualite .actualite-title-content {
  font-size: 70px;
  color: white;
  margin-top: -5px;
}
/* line 127, ../sass/module/_section.scss */
.home__actualite .actualite-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
/* line 135, ../sass/module/_section.scss */
.home__actualite .actualite-item {
  width: 314px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-height: 509px;
  margin: 30px 0;
}
/* line 144, ../sass/module/_section.scss */
.home__actualite .actualite-image {
  width: 100%;
  height: 245px;
  border-radius: 15px 15px 0 0;
}
/* line 149, ../sass/module/_section.scss */
.home__actualite .actualite-item-content {
  padding: 0 20px;
}
/* line 153, ../sass/module/_section.scss */
.home__actualite .actualite-item-info {
  display: flex;
  align-items: center;
}
/* line 159, ../sass/module/_section.scss */
.home__actualite .actualite-info-content {
  padding-left: 20px;
  line-height: 10px;
}
/* line 164, ../sass/module/_section.scss */
.home__actualite .actualite-item-logo {
  height: 52px;
  width: 53px;
  background-color: gray;
}
/* line 172, ../sass/module/_section.scss */
.home__actualite .actualite-item-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px  25px;
  color: grey;
}
/* line 179, ../sass/module/_section.scss */
.home__actualite .actualite-client-feedback {
  display: inline-flex;
}
/* line 184, ../sass/module/_section.scss */
.home__actualite .fa {
  padding-right: 20px;
}
/* line 187, ../sass/module/_section.scss */
.home__actualite .fa span {
  margin-left: 5px;
}
/* line 193, ../sass/module/_section.scss */
.home__actualite .section-button-element {
  background: #393f58;
  padding: 15px;
  display: flex;
  margin: auto;
  border: none;
}
/* line 201, ../sass/module/_section.scss */
.home__actualite .section-button-element a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 18px;
}
/* line 213, ../sass/module/_section.scss */
.home__temoignage {
  margin-top: 50px;
  padding: 60px 0;
}
/* line 216, ../sass/module/_section.scss */
.home__temoignage .temoignage-title {
  text-align: center;
  line-height: 1;
}
/* line 221, ../sass/module/_section.scss */
.home__temoignage .temoignage-start-point {
  width: 20px;
  height: 20px;
  background-color: #f39c12;
  margin: auto;
}
/* line 228, ../sass/module/_section.scss */
.home__temoignage .temoignage-title-subtitle {
  color: grey;
  text-transform: uppercase;
  margin-top: 50px;
}
/* line 235, ../sass/module/_section.scss */
.home__temoignage .temoignage-title-content {
  font-size: 70px;
  color: #135e96;
  padding: 40px;
  margin-top: -5px;
}
/* line 242, ../sass/module/_section.scss */
.home__temoignage .temoignage-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  gap: 40px;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
}
/* line 251, ../sass/module/_section.scss */
.home__temoignage .temoignage-item {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
/* line 258, ../sass/module/_section.scss */
.home__temoignage .temoignage-item figure {
  width: 170px;
  height: 170px;
}
/* line 262, ../sass/module/_section.scss */
.home__temoignage .temoignage-item figure img {
  width: 100%;
  height: 100%;
}
/* line 267, ../sass/module/_section.scss */
.home__temoignage .temoignage-item-content {
  width: 414px;
}
/* line 271, ../sass/module/_section.scss */
.home__temoignage .fa-quote-right {
  color: #f39c12;
  font-size: 30px;
}
/* line 275, ../sass/module/_section.scss */
.home__temoignage .temoignage-item-media {
  display: flex;
  align-items: center;
  margin-top: -26px;
}
/* line 282, ../sass/module/_section.scss */
.home__temoignage .temoignage-item-count {
  font-size: 18px;
  color: dimgray;
}
/* line 289, ../sass/module/_section.scss */
.home__temoignage .fa-twitter {
  background: #55ACEE;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  margin: 5px 12px;
  border-radius: 50%;
}
/* line 301, ../sass/module/_section.scss */
.home__temoignage .temoignage-button {
  text-align: center;
  padding: 115px;
}
/* line 307, ../sass/module/_section.scss */
.home__temoignage .section-button-element {
  background: #393f58;
  padding: 15px;
  display: flex;
  margin: auto;
  border: none;
}
/* line 315, ../sass/module/_section.scss */
.home__temoignage .section-button-element a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 18px;
}

/* line 2, ../sass/module/_footer.scss */
.home__footer {
  display: flex;
  position: relative;
  background-color: #135e96;
  background: linear-gradient(to bottom, rgba(15, 43, 99, 0.92), rgba(8, 34, 85, 0.92));
  padding: 100px;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
/* line 13, ../sass/module/_footer.scss */
.home__footer ul {
  list-style-type: none;
  padding: 0;
}
/* line 18, ../sass/module/_footer.scss */
.home__footer a {
  text-decoration: none;
  color: #fff;
}
/* line 22, ../sass/module/_footer.scss */
.home__footer h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 0;
}
/* line 30, ../sass/module/_footer.scss */
.home__footer .footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
/* line 36, ../sass/module/_footer.scss */
.home__footer .footer-contact ul li {
  font-weight: 600;
}
/* line 40, ../sass/module/_footer.scss */
.home__footer .footer-contact-item {
  margin: 20px 0;
}
/* line 43, ../sass/module/_footer.scss */
.home__footer .footer-contact-item a {
  display: flex;
}
/* line 46, ../sass/module/_footer.scss */
.home__footer .footer-contact-item a span {
  display: inline-flex;
  margin-left: 10px;
}
/* line 52, ../sass/module/_footer.scss */
.home__footer .footer-lien-utile ul li {
  margin: 15px 0;
  font-weight: 600;
}
/* line 56, ../sass/module/_footer.scss */
.home__footer .footer-logo-certifications ul {
  display: flex;
}
/* line 60, ../sass/module/_footer.scss */
.home__footer .footer-logo-certifications ul li img {
  height: 50px;
  margin-right: 20px;
}
/* line 66, ../sass/module/_footer.scss */
.home__footer .footer-social-network .social-network {
  display: flex;
}
/* line 71, ../sass/module/_footer.scss */
.home__footer .fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 12px;
  border-radius: 50%;
}
/* line 81, ../sass/module/_footer.scss */
.home__footer .fa:hover {
  opacity: 0.7;
}
/* line 85, ../sass/module/_footer.scss */
.home__footer .fa-facebook {
  background: #3B5998;
  color: white;
}
/* line 90, ../sass/module/_footer.scss */
.home__footer .fa-twitter {
  background: #55ACEE;
  color: white;
}
/* line 95, ../sass/module/_footer.scss */
.home__footer .fa-linkedin {
  background: #007bb5;
  color: white;
}
/* line 100, ../sass/module/_footer.scss */
.home__footer .footer-boutton {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #f39c12;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 89px;
  right: 22px;
}
/* line 112, ../sass/module/_footer.scss */
.home__footer .footer-boutton:hover {
  opacity: 0.7;
}
